<div class="ui segment">
  <% if @conversations.any?%>
    <h3>Conversations</h3>
    <div class="ui list">
      <div class="item">
        <ul>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <li><img src="<%= recipient.photo.thumb.url %>"><%= link_to recipient.full_name, user_conversation_messages_path(@user, conversation)%></li>
          <% end %>
        <% end %>
        <br>
        <br>
        <br>
      </ul>
      </div>
    </div>
  <% else %>
    <h3>No Active Conversations</h3>
    <br>
    <br>
    <br>
  <% end %>
</div>
