<h1 class="text-center container col-md-8 col-lg-8">All Job Postings</h1>

<div class="text-center container col-md-8 col-lg-8">
	<% @jobs.each do |job| %>
		<div  id="job-container">
			<p><strong>Position:</strong><br> <%=job.position%></p>
			<p><strong>Description:</strong><br><%=job.description%></p><br>
		</div>
	<% end %>
</div>

<%= link_to "Post a New Job", new_job_path %>
