

This is an index of **ONLY** bootcamp graduates.

<br>
<br>

Needs flair.


<br>
<br>

Bootcamp Graduates:
<ul>
	<% @boots.each do |boot| %>	
		<li><%= link_to boot.full_name, user_path(boot) %></li>
	<%end%>

</ul>