<h1>All Company Listings</h1>

<% if current_user %>
	<!-- Add admin only validation -->
	<div>
		<h3><%= link_to "Create New Company", new_company_path %></h3>
	</div>
<% end %>

<div id="company-container">
	<% @companies.each do |company| %>
		<div class="text-center" id="company-link">
			<%= link_to "#{company.name}", company_path(company) %>
		</div>
	<% end %>
</div>>
