<div>
	<h1>All Company Listings</h1>
</div>

<% if current_user %>
	<!-- Add admin only validation -->
	<div class="btn" id="company-link">
		<%= link_to "Create New Company", new_company_path %>
	</div>
<% end %>

<div id="row">
	<% @companies.each do |company| %>
		<div class="col m4">
			<div class="card hoverable light-grey z-depth-5">
				<div class="card-image">
					<img src="<% company.photo %>">
					<span class="card-title black-text"><%= company.name %></span>
					<a href="<% company_path(company)%>" class="btn-floating halfway-fab waves-effect z-depth-5"><i class="fa fa-user" aria-hidden="true"></i></a>
				</div>
				<div class="card-content">
					<p><%= company.location %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>