<h1>All Company Listings</h1>
<% @companies.each do |company| %>
	<div class="text-center container col-lg-6 col-md-6" id="company-container">
		<%= link_to "#{company.name}", company_path(company) %>
	</div>
<% end %>
