/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";

body{
	margin-bottom: 2%;
}
h1 {
	text-align: center;
}

ul {
	list-style: none;
}

#company-info-container {

	border-top: solid;
	border-bottom: solid;
	border-width: .5px;
	margin-left: 25%;
	margin-right: 25%;


	p {
		font-size: 17px;
		}
	
}

#company-link {
	border: solid;
	border-radius: 10px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}

#company-link:hover {
	background-color: black;
	color: lightgrey;

	a {
	color: lightgrey;
	}
}

#company-new-form {
	border: solid;
	border-radius: 15px;
	margin-right: 25%;
	margin-left: 25%;
	padding: 25px;
	
	#company-form-buttons {
		margin-top: 5%;
		}
}

#company-show-job-types {

	#company-show-job-lists {
		float: left;
	}
}

#job-link {
	border: solid;
	border-radius: 10px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}

#job-link:hover {
	background-color: black;
	color: lightgrey;

	a {
	color: lightgrey;
	}
}

#layout-footer {
	width: 75%;
	border-top: 2px solid;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-top: 5px;
}

#search-buttons {
	margin-bottom: 10px;
	text-align: center;
}

#user-about-me {
	position: center;
}

#layout-footer {
	position:fixed;
  height:50px;
  background-color:lightgrey;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;	
  width: 100%;
}

.nav-bar-button {
	color:white;
	background-color: black;
	height: 45px;
}











