/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";

h1 {
	text-align: center;
}

ul {
	list-style: none;
}


#company-link {
	border: solid;
	border-radius: 10px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}

#company-link:hover {
	background-color: black;
	color: lightgrey;

	a {
	color: lightgrey;
	}
}


#job-link {
	border: solid;
	border-radius: 10px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}

#job-link:hover {
	background-color: black;
	color: lightgrey;

	a {
	color: lightgrey;
	}
}

#company-new-form {
	border: solid;
	border-radius: 15px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
	
	#company-form-buttons {
		margin-top: 5%;
		}
}









#layout-footer {
	width: 75%;
	border-top: 2px solid;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-top: 5px;
}

#search-buttons {
	margin-bottom: 10px;
	text-align: center;
}

#user-about-me {
	position: center;
}

.layout-footer {
	position: relative;
 	margin-top: -150px;
 	height: 150px;
 	padding-top: 20px;
}

.nav-bar-button {
	color:white;
	background-color: black;
	height: 45px;
}











