/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@charset "UTF-8";

@import "font-awesome";

// Mixins
// @import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

@import 'animate';


// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/badges";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/transitions";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


body {
	backgorund-color: #F5DEB3;
	z-index: -1;
}

.btn.link a {
	color: white;
}

#border {
	border: solid;
}

#head1 {
	font-size: 75px;
	text-shadow: 3px 3px 3px #000;
}



#jobs-table {
	border-radius: 15px;
	padding: 10px;
}


#map {
	width: 100%; 
	height: 450px;
	margin: 0;
	padding: 15px;
	position: absolute;
}

#media-link {
	background-color: red;
	margin-bottom: 10px;
	margin-top: 30px;
}

#text-indent {
	text-indent: 50px;
}

#user-evals {
	border-radius: 15px;
	padding: 10px;
}

#padding {
	padding: 10px;
}

table {

	width: 90%;

	td{
		height: 25px;
	}
}

#strips:nth-child(odd) {
	background-color: lightgrey;
	border-radius: 15px;
	padding: 10px;
}

#strip:nth-child(odd) {
	border-radius: 15px;
	padding: 10px;
}


.edit-btn {
	height: 50px;
	width: 66px;
	border: solid 3px white;
}

.delete-btn {
	height: 50px;
	width: 66px;
	border: solid 3px white;
}

.wow {
   visibility: hidden;
}


