
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">CodeConnect</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">A platform to connect technical bootcamp graduates to success.</h5>
        </div>
        <div class="row center">
          <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag("sticky-notes.jpg", :alt => "Unsplashed sticky note img") %></div>
  </div>


<div class="container">
    <div class="section wow slideInLeft">

      <!--   Icon Section   -->
      <div class="row">
      <h2 class="center header center teal-text text-lighten-2">How it Works</h4>
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center"> Step 1 </h5>
            <h2 class="center brown-text"><i class="large material-icons">vpn_key</i></h2>
            <p class="light center"> Obtain Your Unique Token </p>
          </div>
        </div>
        <script type="text/javascript">
          var wow = new WOW(
            {
              boxClass:     'wow',      
              animateClass: 'animated', 
              offset:       0,         
              mobile:       true,       
              live:         true,       
              callback:     function(box) {
            },
        scrollContainer: null
      }
    );
    wow.init();
  </script>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center"> Step 2 </h5>
            <h2 class="center brown-text"><i class="large material-icons">person_pin</i></h2>
            <p class="light center"> Create and Customize Your Account </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center"> Step 3 </h5>
            <h2 class="center brown-text"><i class="large material-icons">offline_pin</i></h2>
            <p class="light center"> Get Hired! </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("minimal-laptop.jpg", :alt => "Unsplashed laptop img") %></div>
  </div>


    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      <h2 class="center header center teal-text text-lighten-2">What We Offer</h4>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center"> Advance Your Career </h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Connect with Employers</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Manage your Connections</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>





  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div id="map"><h5 class="header col s12 light black-text z-depth-5">Find Jobs in Your Area</h5></div>
      <div class="parallax">
        <script>
          function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              // center: {lat: -34.397, lng: 150.644},
              zoom: 15,
              scrollwheel: false
            });
            var infoWindow = new google.maps.InfoWindow({map: map});
        // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                   var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: 'Hello World!'
                  });

                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }
          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
          }
        </script>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
        </script>
      </div>
    </div>
  </div>
