<div>
	<%= simple_form_for [@user, @resume], :html => { multipart: true } do |f| %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<%= f.file_field :content, label: "Add Resume" %>
		<%= f.button :submit %>
	<% end %>
</div>