<div class="heart"></div>
<div>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Made for Boots by Boots</h5>
          <p class="grey-text text-lighten-4">CodeConnect was created by a five-member team, completing their final group project at <a href="https://devbootcamp.com/">Dev Bootcamp's</a> San Francisco campus.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 a class="white-text">CodeConnect <i class="fa fa-heart" aria-hidden="true"></i></h5>
          <p><a href="/team">The Team</a></p>
          <p><a href="https://github.com/kimberlyjoyceembry/DBC-final-project">Our Code</a></p>
        </div>
        <div class="col l3 s12">
          <h5><a class="white-text" href="https://www.instagram.com/code_connect/">Contact</a> </h5>
          <p class="grey-text text-lighten-4">codeconnectgroup@gmail.com</p>
          <p><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
</div>
