<div>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Our Story</h5>
          <p class="grey-text text-lighten-4">We are a five-member team, completing our final group project together at Dev BootCamp in San Francisco, CA. Soon-to-be-graduates entering into Phase 4 ("funemployment" as we like to say), we hope to create a space where other boots can easily connect with companies or employers that are champions of diversity, with a focus on hiring candidates from non-traditional educational backgrounds.
          </p>
        </div>
        <div class="col l3 s12">
          <h5><a class="white-text" href="/contact">Send Us Some <i class='fa fa-heart' aria-hidden='true'></i></a> </h5>
          <p class="grey-text text-lighten-4">Have any questions? Want to send us some feedback? Email our team at codeconnectgroup@gmail.com
          </p>
        </div>
        <div class="col l3 s12">
          <h5><a class="white-text" href="/contact">Slide Into Our DM's</a> </h5>
          <p><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
</div>
